.banner {
    height: 28rem;
    background: url("http://localhost/cnaf/public/images/tentangkami/banner.png") no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.story .info img {
    width: 28rem;
    height: auto;
}