.ui.label {
    font-weight: bold;
    font-size: 13px;
    padding: 0.35em 1.2em 0.35em 1.5em;
    border-radius: 0 0.2rem 0.2rem 0;
    position: absolute;
    top: 2.6rem;
    left: 0;
    z-index: 1;
}
.ui.label::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 1.3em 1em 0;
    border-right-color: inherit;
}
.ui.black.label {
    background-color: #1B1C1D !important;
    color: #FFFFFF !important;
    border-color: #805031 !important;
}

.item-content h6,
.item-content p {
    font-size: 0.9rem !important;
}