.banner {
    height: 50vw;
    background: url("http://localhost/cnaf/public/images/home/banner.jpg") no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner .banner-content h1 {
    font-size: 5vw;
}

.simulasi {
    margin-top: -100px;
}
.simulasi .simulasi-content {
    background: white;
    padding: 2vw 3vw 2vw 3vw;
    -webkit-box-shadow: 0px 10px 5px #cccccc;
    -moz-box-shadow: 0px 10px 5px #cccccc;
    box-shadow: 0px 10px 10px 5px #cccccc;
}
.simulasi .simulasi-content h3 {
    font-size: 1rem;
}

.slider h4 {
    font-size: 1rem;
}

.banner2 {
    height: 56vw;
    background: url("http://localhost/cnaf/public/images/home/banner2.png") no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner2 .banner2-content h1 {
    font-size: 1.6rem;
}
.banner2 .banner2-content h2 {
    font-size: 1.4rem;
}
.banner2 .banner2-content a {
    font-size: 1rem;
}

.proses-leasing {
    margin: 50px 0;
}
.proses-leasing h1 {
    font-size: 2rem;
}
.proses-leasing h6 {
    font-size: 1.1rem;
}
.proses-leasing h4 {
    font-size: 1.4rem;
}

.banner3 {
    height: 26vw;
    background: url("http://localhost/cnaf/public/images/home/banner3.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.article {
    margin: 50px 0;
}
.article h1 {
    font-size: 2rem;
}

.banner4 {
    height: 58vw;
    background: url("http://localhost/cnaf/public/images/home/banner4.jpg") no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner4 h6 {
    font-size: 0.8rem;
}
.banner4 h2 {
    font-size: 1rem;
}
.banner4 p {
    font-size: 0.7rem;
}
.banner4 a {
    font-size: 0.7rem;
}
.banner4 .hp {
    width: 300px;
    height: auto;
}
.banner4 .google-play {
    width: 70px;
    height: auto;
}

footer {
    background-color: #881a1b;
}
footer h6 {
    margin-top: 50px;
}
footer hr {
    border: 1px solid white;
    margin-top: 100px;
}

.reset, .btn-simulasi {
    height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
}
.reset {
    border: 1px solid #ced4da !important;
}
.bg-881a1b {
    color: white !important;
    background-color: #881a1b !important;
    border-color: #881a1b !important;
}
.bg-881a1b:hover {
    color: white !important;
    background-color: #881a1b !important;
    border-color: #881a1b !important;
}
.bg-outline-881a1b {
    color: #881a1b !important;
    border-color: #881a1b !important;
}
.bg-outline-881a1b:hover {
    color: white !important;
    background-color: #881a1b !important;
    border-color: #881a1b !important;
}
.card {
    height: 600px !important;
}
.card img {
    height: 340px !important;
}
.selengkapnya {
    visibility: hidden;
}